$gutter: 32px;

.layout-column {
  display: flex;
  flex-direction: column;
}

.layout-row {
  display: flex;
  flex-direction: row;
}

.layout-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  flex: 1 0 auto;
}

.column {
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;
}

.row {
  margin-left: -$gutter / 2;
  margin-right: -$gutter / 2;
}
